.container {
    display: grid;
    width: 750px;
    height: 600px;
    grid-template-columns: 1fr 1fr 200px;
    grid-template-rows: 80px 0.5fr 1fr 1fr 100px;
    grid-template-areas:
        "hd hd hd"
        ".. .. sd"
        "c1 c2 sd"
        "c3 c3 sd"
        "ft ft ft";
    gap: 1rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkblue;
}

.header {
    grid-area: hd;
    background-color: rgba(243, 122, 138, 0.884);
}

.aside {
    grid-area: sd;
    background-color: aquamarine;
}

.content-1 {
    grid-area: c1;
    background-color: rgb(136, 241, 243)
}

.content-2 {
    grid-area: c2;
    background-color: rgb(172, 238, 110);
}

.content-3 {
    grid-area: c3;
    background-color: rgb(212, 129, 248);
}

.footer {
    grid-area: ft;
    background-color: rgb(143, 235, 134);
}

.flex_footer {
    display: flex;
    justify-content: space-around;
}

.f_block {
    background-color: rgb(228, 145, 152);
    padding: 5px 10px;
    margin: 10px;
    flex: 1 0 0;
}