.container {
    display: grid;
    grid-template-columns: 100px 30% 1fr;
    grid-template-rows: 200px 100px;
    gap: 1rem;
    }

.content {
    background: linear-gradient(#e66465, #9198e5);
    border: 1px solid rgb(12, 62, 82);
    border-radius: 5px;
}
