.container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 391px 150px 0.2fr 1fr 0.5fr 230px 150px 150px;
    margin: 0px 0px;
}

.header {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.slogan {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.yellow {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    padding: 10px;
    background-color: rgba(254, 254, 201, 1);
    font-family: 'Vollkorn', serif;
    font-size: 18px;
    line-height: 139%;
    color: #47474F;
}

.howwemake {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

.projects {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}

.our_team {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
    margin-bottom: 5%;
}

.comment {
    grid-row: 7 / 8;
    grid-column: 1 / 2;
}

.footer1 {
    grid-row: 8 / 9;
    grid-column: 1 / 2;
}

.footer2 {
    grid-row: 9 / 10;
    grid-column: 1 / 2;
}

.logo {
    margin-left: 3em;
    margin-right: 3em;
    max-width: 100%;
}

.flex_header {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    align-items: center;
}

.menu {
    display: flex;
    flex-flow: nowrap;
    list-style: none;
    justify-content: center;
}

.menu a {
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #404040;
    transition: .5s;
}

.menu a:hover {
    background: rgb(175, 199, 212);
    color: #fff;
    transition: .5s
}

title,
h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    color: #333333;
}

h4 {
    margin-right: 15em;
}

.H1,
.H5,
.H3,
.yellow,
.text {
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.H1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
    line-height: 55px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.H3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    line-height: 157%;
    text-transform: uppercase;
    color: #333333;
}

.H5,
.text,
figcaption p {
    font-family: 'Vollkorn', serif;
    font-size: 15px;
}

.H5 {
    line-height: 20px;
    color: rgba(255, 255, 255, 0.81);
}

.text {
    line-height: 147%;
    color: #333333;
    margin: 20px 20px;
}

.slogan {
    background: url("assets/images/header.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.howwemake_flex1,
.howwemake_flex2 {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.howwemake_flex1 img {
    background-color: #F5F5F5;
    border-radius: 0px;
    margin: 20px 20px;
}

figcaption {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-style: normal;
    font-weight: 400;
}

.projects_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

.table_img {
    flex: 0 0 1;
    text-align: center;
}

.flex_team {
    display: flex;
    justify-content: center;
    width: 100%
}

.team {
    margin: 3%;
}

.comment svg {
    margin-left: 50%;
}

.flex_comments {
    display: flex;
    justify-content: center;
    width: 100%;
}

.flex_comments p {
    margin-right: 3%;
}

.flex_footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer1 {
    background: url('assets/images/footer_pic.png'), #7EC4BD;
    border-radius: 0px;
}

.footer2 {
    background-color: #000000;
    color: #FFFFFF;
    justify-content: center;
    width: 100%;
}

.f_block {
    padding: 5px 10px;
    margin: 10px;
    flex: 1 0 0;
}