* {
    box-sizing: border-box;
}
.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat (5 1fr);
    grid-template-rows: 3% 11% 3% 13% 1fr 14% 2% 6% 10%;
    margin: 0px 0px;
}

.header {
    grid-row: 1 / 2;
    grid-column: 1 / 6;
}

.slogan {
    grid-row: 2 / 3;
    grid-column: 1 / 6;
}

.yellow {
    grid-row: 3 / 4;
    grid-column: 1 / 6;
    padding: 10px;
    background-color: rgba(254, 254, 201, 1);
    font-family: 'Vollkorn', serif;
    font-size: 1.2rem;
    line-height: 139%;
    color: #47474F;
}

.howwemake {
    grid-row: 4 / 5;
    grid-column: 1 / 6;
}

.projects {
    grid-row: 5 / 6;
    grid-column: 1 / 6;
    background-color: #F5F5F5;
}

.our_team {
    grid-row: 6 / 7;
    grid-column: 1 / 6;
}

.comment_icon {
    grid-row: 7 / 8;
    grid-column: 3 / 4;
}

.julius_comment {
    grid-row: 8 / 9;
    grid-column: 2 / 3;
    text-align: center;
}

.rachel_comment {
    grid-row: 8 / 9;
    grid-column: 4 / 5;
    text-align: center;
}
.footer {
    grid-row: 9 / 10;
    grid-column: 1 / 6;
}

/* основное меню, шапка */

.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.flex_header {
    display: flex;
    flex-flow: row nowrap;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    width: 50%;
    margin-right: 15%;
}
.menu {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}

.menu a {
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1em;
    color: #404040;
    transition: .5s;
}

.menu a:hover {
    background: rgb(175, 199, 212);
    color: #fff;
    transition: .5s
}

/* типографика */
title,
h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    color: #333333;
}

.H1,
.H5,
.H3,
.yellow,
.text, 
.content, figcaption {
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.H1, .H3, .content, .juliusName, .rachelName {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.juliusName, .rachelName {
    color: #ABABAB;
}
.H1 {
    font-size: 2rem;
    line-height: 4rem;
    color: #FFFFFF;
}

.H3 {
    font-size: 1.7rem;
    line-height: 157%;
    color: #333333;
}

.content {
    color: #333333;
    font-size: 1.3rem;
    line-height: 125%;
}

.H5,
.text,
.f_block p, .footer2 p {
    font-family: 'Vollkorn', serif;
    font-size: 1.1rem;
}

.H5 {
    line-height: 20px;
    color: rgba(255, 255, 255, 0.81);
}
.footer2 p {
    color: rgba(255, 255, 255, 0.4);
}

.text {
    line-height: 125%;
    color: #333333;
}

/* блок с фоновой картинкой */
.slogan {
    background: url("assets/images/header.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 100%;
}

/* блок main */
.howwemake_flex1,
.howwemake_flex2 {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.howwemake_flex1 figure {
    background-color: #F5F5F5;
    border-radius: 0px;
    padding: 1% 8%;
    width: 35%;
}

.howwemake_flex2_content {
    width: 35%;
    padding: 0% 2%;
}

.projects_img1, 
.projects_img2, 
.projects_img3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-right: 20%;
    margin-left: 20%;
    }

/* блок наша команда */
.flex_team {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
}

/* блок с отзывами */

.comment svg {
    margin-left: 50%;
}
.flex_comments {
    display: flex;
    justify-content: center;
}

/* Футер */
.flex_footer {
    display: flex;
    justify-content: space-around;
}
.footer1 {
    background: url('assets/images/footer_pic.png'), #7EC4BD;
    border-radius: 0px;
}
.footer2 {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}
.f_block {
    padding: 5px 10px;
    margin: 10px;
    flex: 1 0 0;
    text-align: center;
}
.calculate {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    align-items:center
}

@media screen and (max-width: 600px) {
.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas: 
    "h h h h"
    "sl sl sl sl"
    "yl yl yl yl"
    "hwm hwm hwm hwm"
    "prj prj prj prj"
    "tm tm tm tm"
    ". ic . ."
    ". cJ cR ."
    "f f f f";
    grid-template-columns: repeat (4 1fr);
    grid-template-rows: 3% 7% 3% 8% 1fr 17% 0%;
    margin: 0px 0px;
}

.header {
    grid-area: h;
}

.slogan {
    grid-area: sl;
}

.yellow {
    grid-area: yl;
}

.howwemake {
    grid-area: hwm;
}

.projects {
    grid-area: prj;
}

.our_team {
    grid-area: tm;
}
.comment_icon {
    grid-area: ic;
    display: none;
}
.julius_comment {
    grid-area: cJ;
}

.rachel_comment {
    grid-area: cR;
}
.footer {
    grid-area: f;
    display: none;
}

.projects_img1, 
.projects_img2, 
.projects_img3 {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 auto;
    }

}