.container {
    display: grid;
    width: 750px;
    height: 600px;
    grid-template-columns: 1fr 1fr 200px;
    grid-template-rows: 80px 1fr 100px;
    gap: 1rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkblue;
}

.header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background-color: rgba(56, 36, 39, 0.884);
}

.aside {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background-color: aquamarine;
}

.main {}

.content-1 {
    grid-area: c1;
    background-color: rgb(136, 241, 243)
}

.content-2 {
    grid-area: c2;
    background-color: rgb(172, 238, 110);
}

.content-3 {
    grid-area: c3;
    background-color: rgb(212, 129, 248);
}

.footer {
    grid-row: 5 / 6;
    grid-column: 1 / 4;
    background-color: rgb(233, 231, 122);
}

.flex_footer {
    display: flex;
    justify-content: space-around;
}

.f_block {
    background-color: rgb(228, 145, 152);
    padding: 5px 10px;
    margin: 10px;
    flex: 1 0 0;
}